{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/d736d670df.js" crossorigin="anonymous"></script>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
<body>
  <!-- main -->
    <div class="main">

        <!-- navbar -->
      <div class="navbar">
        <div class="navbar-left">
          <a href="">
            <i class="fas fa-user-friends"></i>
            <span class="navbar-title">파티원구함</span>
          </a>
        </div>
        <div class="navbar-right">
          {% if user.is_authenticated %}
          <a href="">마이페이지</a>
          <a href="{% url 'account_logout' %}">로그아웃</a>
          {% else %}
          <a href="{% url 'account_login' %}">로그인</a>
          <a href="{% url 'account_signup' %}">회원가입</a>
          {% endif %}
        </div>
      </div>

      <!-- main-header -->
      <div class="main-header">
        <div class="main-text">
          <div class="main-text-description">
              같은 취미를 함께 즐길 동료를 구하기 위한 소모임 종합 커뮤니티
          </div>
          {% comment %} <h1 class="main-text-title">파티원구함</h1> {% endcomment %}
          <img src="static/DAE.png" id="DAE">
        </div>
        <div class="main-serach-box">
          <input class="form-control me-2" type="search" placeholder="키워드를 검색하세요" aria-label="Search">
        </div>

        <!-- catecory -->
      <div class="catecory">
        <ul class="catecory_list">
          <a href="" class="catecory-list-box">
            <div class="catecory_icon">
              <i class="fas fa-running"></i>
            </div>
            <div class="catecoty_name">스포츠</div>
          </a>
          <a href="" class="catecory-list-box">
            <div class="catecory_icon">
              <i class="fas fa-gamepad"></i>
            </div>
            <div class="catecoty_name">게임</div>
          </a>
          <a href="" class="catecory-list-box">
            <div class="catecory_icon">
              <i class="fas fa-book-open"></i>
            </div>
            <div class="catecoty_name">독서</div>
          </a>
          <a href="" class="catecory-list-box">
            <div class="catecory_icon">
              <i class="fas fa-language"></i>
            </div>
            <div class="catecoty_name">언어</div>
          </a>
          <a href="" class="catecory-list-box">
            <div class="catecory_icon">
              <i class="fab fa-artstation"></i>
            </div>
            <div class="catecoty_name">공예</div>
          </a>
          <a href="" class="catecory-list-box">
            <div class="catecory_icon">
              <i class="fas fa-music"></i>
            </div>
            <div class="catecoty_name">음악</div>
          </a>
          <a href="" class="catecory-list-box">
            <div class="catecory_icon">
              <i class="fas fa-lightbulb"></i>
            </div>
            <div class="catecoty_name">공모전</div>
          </a>
          <a href="" class="catecory-list-box">
            <div class="catecory_icon">
              <i class="fas fa-comments-dollar"></i>
            </div>
            <div class="catecoty_name">함께 결제</div>
          </a>
        </ul>
      </div>
    </div>
  </div>

  <!-- main bottom -->
    <div class="main-bottom">
      <div class="close-soon">
        <div class="close-soon-comment">기간이 얼마 남지 않았습니다!</div>
        <div class="close-soon-posts">
          <div class="close-soon-post"></div>
          <div class="close-soon-post"></div>
          <div class="close-soon-post"></div>
          <div class="close-soon-post"></div>
          <div class="close-soon-post"></div>
          <div class="close-soon-post"></div>
          <div class="close-soon-post"></div>
          <div class="close-soon-post"></div>
        </div>
      </div>

      <div class="almost-gather">
        <div class="almost-gather-comment">곧 마감입니다!</div>
        <div class="almost-gather-posts">
          <div class="almost-gather-post"></div>
          <div class="almost-gather-post"></div>
          <div class="almost-gather-post"></div>
          <div class="almost-gather-post"></div>
          <div class="almost-gather-post"></div>
          <div class="almost-gather-post"></div>
          <div class="almost-gather-post"></div>
          <div class="almost-gather-post"></div>
        </div>
      </div>
    </div>
  
      
</body>
</html>