{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/party.css' %}" />
    
    <title>파티원구함</title>

</head>
<body>
    <div class="inner_content">

        <nav>
            <ul class="menuBox">
                <li><a class="menuName" href="{% url 'party:category' 'c01' %}">스포츠</a></li>
                <li><a class="menuName" href="{% url 'party:category' 'c02' %}">게임</a></li>
                <li><a class="menuName" href="{% url 'party:category' 'c03' %}">독서</a></li>
                <li><a class="menuName" href="{% url 'party:category' 'c04' %}">함께 결제</a></li>
                <li><a class="menuName" href="{% url 'party:category' 'c05' %}">언어</a></li>
                <li><a class="menuName" href="{% url 'party:category' 'c06' %}">공예</a></li>
                <li><a class="menuName" href="{% url 'party:category' 'c07' %}">음악</a></li>
                <li><a class="menuName" href="{% url 'party:category' 'c08' %}">문화</a></li>
                <li><a class="menuName" href="{% url 'party:category' 'c09' %}">공모전</a></li>
            </ul>

        </nav>
        <div class="itemContainer">
            {% for post in allPost %}
            <a class="itemBox" href="#">
                <img src="{% static 'skyblue.png' %}" class="itemImage">
                <p class="title">{{post.title}}</p>
                <p class="writer">{{post.author}}</p>
                <p class="pubDate">{{post.upload_date | date:'y-m-d'}}</p>
                <button class="heartButton" type="button"><img src="{% static 'heart.png' %}" class="heartImage"></button>
            </a>
            {%endfor%}
            
        </div>
    </div>
</body>
</html>