{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파티원구함</title>
    <link rel="stylesheet" href="{% static 'css/party_detail.css' %}" />

    
</head>
<body>

    <!-- navbar -->
    <div class="navbar">
        <div class="navbar-left">
          <a href="{% url 'party:main' %}">
            <i class="fas fa-user-friends"></i>
            <span class="navbar-title">파티원구함</span>
          </a>
        </div>
        <div class="navbar-right">
          {% if user.is_authenticated %}
          <a href="{% url 'party:new' %}" class="post-party">파티글 작성</a>
          <a href="">마이페이지</a>
          <a href="{% url 'account_logout' %}">로그아웃</a>
          {% else %}
          <a href="{% url 'account_login' %}">로그인</a>
          <a href="{% url 'account_signup' %}">회원가입</a>
          {% endif %}
        </div>
      </div>
    
    <div class="page">
        <div class="leftBox">
            {% if post.image %}
                <img src="{{post.image.url}}" class="itemImage">
            {%else%}
                <img src="{% static 'skyblue.png' %}" class="itemImage">
            {%endif%}
                <p class="postContent">
                    {{post.body | linebreaks}}
                </p>

            <div class="mainBox">
                <!--여기서부터 댓글박스-->
                <!-- 이 아래 코드 수정 자유롭게 해주세요 -->
                {%if comments %}
                <div class="comment_wrapper mainBox">
                    {% for comment in comments %}
                    <div class="comment-item postBoxDiv">
                        <div class="writerInfo">
                            <p class="postWriter">{{comment.writer}}</p>
                        </div>
                        <p class="postContent">{{comment.body}}</p>

                        <button onclick="dpRecomment(this)" id="btn_recomment{{comment.id}}" value="{{comment.id}}" class="btn_recomment">대댓글 보기</button>
                            <!-- 대댓글 영역-->
                            <div id="div_recomment{{comment.id}}" class="div_recomment">
                                {% for re_comment in re_comments %}
                                    {% if comment == re_comment.comment_id %}
                                    <p class="postWriter">작성자: {{re_comment.writer}}</p>
                                    <p class="postContent">{{re_comment.body}}</p>
                                    <hr>
                                    {% endif %}
                                {% endfor %}
                                <form action="{% url 'party:re_comment' post.id comment.id %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{form.as_p}}
                                    <button type="submit">대댓글 쓰기</button>
                                </form>
                                <br>
                            </div>
                    </div>
                    {% endfor %}
                </div>
                <br>
                {%endif%}

                <!--댓글쓰는 박스-->
                <!-- <div class="postBoxDiv"> 
                    <div class="writerInfo">
                        <p class="postWriter">내 닉네임</p>
                    </div>
                    <form action="">
                        <textarea id="commentWriteBox" placeholder="댓글을 입력해주세요"></textarea>
                        <input type="submit" id="commentWriteButton" value="댓글쓰기" >
                    </form>
                </div>  -->
                <div class="postBoxDiv">
                    <div class="writerInfo">
                        <p class="postWriter">{{request.user.username}}</p>
                    </div>
                    <form method="POST" enctype="multipart/form-data" action="{%url 'party:create_comment' post.id%}">
                        {%csrf_token%}
                        {{form | crispy}} <br>
                        <input type="submit" id="commentWriteButton" value="댓글쓰기">
                    </form>
                </div>

            </div>
        </div>

        <div class="rightBox">
            <div class="rightBox-top">
                <div class="box-info">
                    <p class="category">{{category_name}}</p> <!--카테고리명 model수정요망/일단 무시하세요-->
                    <h1>{{post.title}}</h1>
                    <p class="writerName">{{post.author}}</p>
                    <p class="pubDate">{{post.upload_date}}</p>
                </div>
                <div class="apply_boxes">
                    {%if request.user in post.applicant.all%}
                    <div class="apply_btn">
                        <a href="{% url 'party:apply' post.id %}">참여 취소</a>
                    </div>
                    {%else%}
                    <div class="apply_btn">
                        <a href="{% url 'party:apply' post.id %}">참여하기</a>
                    </div>
                    {%endif%}
                </div>
            </div>
            <div class="infoBoxDiv">
                <p class="infoTitle">모집인원</p>
                <p class="infoContent">{{post.capacity}}명</p>
            </div>
            <div class="infoBoxDiv">
                <p class="infoTitle">활동지역</p>
                <p class="infoContent">{{location_name}}</p> <!--지역명 model수정요망/일단 무시하세요-->
            </div>
            <!-- <div class="infoBoxDiv">
                <p class="infoTitle">마감날짜</p>
                <p class="infoContent">{{post.meet_date | date:'y-m-d H:i'}}</p>
            </div> -->
            
            <!-- <div class="infoBoxDiv">
                <p class="infoTitle">비용</p>
                <p class="infoContent">3,625원</p>
            </div> --> <!--비용 속성은 없어요...-->
        </div>
    </div>
<script>
    function dpRecomment(obj) {
        comment_id = obj.getAttribute('value');
        var con = document.getElementById('div_recomment'+comment_id);
        var btn = document.getElementById('btn_recomment'+comment_id);

        if(con.style.display=='none'){
            con.style.display = 'block';
            btn.innerHTML = '접기'
        }else{
            con.style.display = 'none';
            btn.innerHTML = '대댓글 보기'
        }
    }
</script>


</body>
</html>