{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파티원구함</title>
    <link rel="stylesheet" href="{% static 'party_detail.css' %}" />

    
</head>
<body>
    
    <div class="page">
        <div class="leftBox">
                <img src="skyblue.png" class="itemImage">
                <p class="postContent">내용 어쩌구저쩌구.............
                    <br>4명 모집합니다
                    <br>한달에 3625원씩 보내주시면 됩니다
                    <br>6개월 이상 하실분 댓글남겨주세요
                </p>
            <div class="mainBox">
                <div class="postBoxDiv"> <!--여기서부터 댓글박스-->
                    <div class="writerInfo">
                        <p class="postWriter">댓글 작성자</p>
                    </div>
                    <p class="postContent">댓글 어쩌구저쩌구.............</p>
                </div>

                <div class="postBoxDiv"> <!--여기서부터 댓글박스-->
                    <div class="writerInfo">
                        <p class="postWriter">댓글 작성자</p>
                    </div>
                    <p class="postContent">댓글 어쩌구저쩌구.............</p>
                </div>

                <div class="postBoxDiv"> <!--댓글쓰는 박스-->
                    <div class="writerInfo">
                        <p class="postWriter">내 닉네임</p>
                    </div>
                    <form action="">
                        <textarea id="commentWriteBox" placeholder="댓글을 입력해주세요"></textarea>
                        <input type="submit" id="commentWriteButton" value="댓글쓰기" >
                    </form>
                </div>

            </div>
        </div>

        <div class="rightBox">
            <p class="category">함께결제</p>
            <h1>제목이다 넷플릭스 같이 결제하실분 구해요</h1>
            <p class="writerName">작성자이름</p>
            <p class="pubDate">2021-09-25</p>
            <div class="infoBoxDiv">
                <p class="infoTitle">모집인원</p>
                <p class="infoContent">00명</p>
            </div>
            <div class="infoBoxDiv">
                <p class="infoTitle">활동지역</p>
                <p class="infoContent">서울</p>
            </div>
            <div class="infoBoxDiv">
                <p class="infoTitle">마감날짜</p>
                <p class="infoContent">2021-09-25</p>
            </div>
            <div class="infoBoxDiv">
                <p class="infoTitle">비용</p>
                <p class="infoContent">3,625원</p>
            </div>
        </div>
    </div>
</body>
</html>