<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파티원구함</title>
    <link rel="stylesheet" href="board_detail.css" />

        
</head>
<body>
    
    <div class="page">
        <div class="leftBox">
            <h1>넷플릭스와 왓챠 사이..</h1>
            <p class="writerName">작성자이름</p>
            <p class="pubDate">2021-09-25</p>
            <p class="postContent">넷플릭스 네명이서 쓰고있는데 왕좌의 게임이 보고 싶어서 왓챠도 결제할까 고민이에요 두개 쓰시는분 잘 보시나요? 하나만 보고 돈 날릴까봐 걱정이라 망설이고 있습니다 디즈니도 좋아하는데 이러다가 디즈니 플러스도 하는거 아닌지 모르겠어요 여러개 쓰시는 분들의 많은 의견 바라요ㅠ
            </p>
            <div class="mainBox">
                <div class="postBoxDiv"> <!--여기서부터 댓글박스-->
                    <div class="writerInfo">
                        <p class="postWriter">댓글 작성자</p>
                    </div>
                    <p class="postContent">댓글 어쩌구저쩌구.............</p>
                </div>

                <div class="postBoxDiv"> <!--여기서부터 댓글박스-->
                    <div class="writerInfo">
                        <p class="postWriter">댓글 작성자</p>
                    </div>
                    <p class="postContent">댓글 어쩌구저쩌구.............</p>
                </div>

                <div class="postBoxDiv"> <!--댓글쓰는 박스-->
                    <div class="writerInfo">
                        <p class="postWriter">내 닉네임</p>
                    </div>
                    <form action="">
                        <textarea id="commentWriteBox" placeholder="댓글을 입력해주세요"></textarea>
                        <input type="submit" id="commentWriteButton" value="댓글쓰기" >
                    </form>
                </div>

            </div>
        </div>

        <div class="rightBox">

            <a href="#" class="postItemBox">
                <div class="postTitleContentBox">
                    <p class="title">넷플릭스 쓰는데 왓챠도 결제할까 고민이에요</p>
                    <p class="content">넷플릭스 네명이서 쓰고있는데 왕좌의 게임이 보고 싶어서 왓챠도 결제할까 고민이에요 두개 쓰시는분 잘 보시나요? 하나만 보고 돈 날릴까봐 걱정이라 망설이고 있습니다 디즈니도 좋아하는데 이러다가 디즈니 플러스도 하는거 아...</p>
                </div>
            </a>

            <a href="#" class="postItemBox">
                <div class="postTitleContentBox">
                    <p class="title">넷플릭스 쓰는데 왓챠도 결제할까 고민이에요</p>
                    <p class="content">넷플릭스 네명이서 쓰고있는데 왕좌의 게임이 보고 싶어서 왓챠도 결제할까 고민이에요 두개 쓰시는분 잘 보시나요? 하나만 보고 돈 날릴까봐 걱정이라 망설이고 있습니다 디즈니도 좋아하는데 이러다가 디즈니 플러스도 하는거 아...</p>
                </div>
            </a>

            <a href="#" class="postItemBox">
                <div class="postTitleContentBox">
                    <p class="title">넷플릭스 쓰는데 왓챠도 결제할까 고민이에요</p>
                    <p class="content">넷플릭스 네명이서 쓰고있는데 왕좌의 게임이 보고 싶어서 왓챠도 결제할까 고민이에요 두개 쓰시는분 잘 보시나요? 하나만 보고 돈 날릴까봐 걱정이라 망설이고 있습니다 디즈니도 좋아하는데 이러다가 디즈니 플러스도 하는거 아...</p>
                </div>
            </a>
            
            
            
        </div>
    </div>
</body>
</html>