<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파티원구함</title>
    <link rel="stylesheet" href="board_create.css" />

        
</head>
<body>
    <div class="page">
        <div class="mainBox">
            <div class="postBoxDiv">
                <form action="">
                    <div class="categoryRadio">
                        <label><input type="radio" name="category" value="c01">스포츠</label>
                        <label><input type="radio" name="category"value="c02">게임</label>
                        <label><input type="radio" name="category"value="c03">독서</label>
                        <label><input type="radio" name="category"value="c04">함께결제</label>
                        <label><input type="radio" name="category"value="c05">언어</label>
                        <label><input type="radio" name="category"value="c06">공예</label>
                        <label><input type="radio" name="category"value="c07">음악</label>
                        <label><input type="radio" name="category"value="c08">문화</label>
                        <label><input type="radio" name="category"value="c09">공모전</label>
                </div>

                    <input id=titleBox type="text" placeholder="제목">
                    <textarea id="writeBox" placeholder="글을 입력해주세요"></textarea>
                    <input type="submit" id="writeButton" value="글쓰기" >
                </form>
            </div>
        </div>
    </div>
</body>
</html>